<div class="form-group no-margin inline-block">
  {{input type="text" class="form-control" id='add-user' value=addUser size="20" placeholder="Search for users"}}
</div>
<div {{action "addUserToDivvy"}} class="outline-button action-button inline-block">Add user</div>
