<div class="form-group no-margin inline-block power-select-container">
  {{#power-select-multiple
    id='add-user'
    class="select-add-user"
    placeholder="Search for divvy users..."
    options=filteredUsers
    selected=selectedUsers
    noMatchesMessage="No users found that match your search"
    onchange=(action (mut selectedUsers)) as |user|}}
    {{user.username}}
  {{/power-select-multiple}}
</div>
<div {{action "addUsersToDivvy"}} class="outline-button action-button inline-block">Add user</div>
