<div class="new-payment-form">
  <div class="row">
    <div class="col-md-8">
      <div class="new-payment-text">
        I spent $
        {{input type="text" class='transparent-input' id='amount' value=amount size="5"}}
        on
        {{input type="text" class='transparent-input' id='description' value=description size="20"}}
      </div>
    </div>
    <div class="col-md-4">
      <div {{action "addPaymentToDivvy"}} class="standard-button action-button">Add payment</div>
    </div>
  </div>
  {{#if formError}}
    <div class="message-box error-message">Error: {{formError}}</div>
  {{/if}}
</div>
