<div id="divvy-title">
  {{model.title}}
</div>

{{#if model.payments}}
  <div class="payments">
    {{#each model.payments as |payment|}}
      {{list-payment payment=payment delete=removePayment edit=updatePayment}}
    {{/each}}
  </div>
{{else}}
  <div class="warning-block">
    There are currently no payments for this divvy
  </div>
{{/if}}
