<h3>All Divvies</h3>

<ul>
	{{#each model as |divvy|}}
		<li class='divvy-list'>
			{{#link-to 'divvy' divvy.id}}
			  {{divvy.title}}
			{{/link-to}}
		</li>

	{{/each}}
</ul>

<div>
	{{#link-to 'divvies.new'}}
	  Create New Divvy
	{{/link-to}}
</div>
